{
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "printWidth": 100,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}
