.input {
  width: 464px;
  height: 48px;
  border: 1px solid #ced2da;
  outline: none;
  color: #637083;
  padding-left: 10px;
  border-radius: 10px;
}
.error_input {
  width: 464px;
  height: 48px;
  border: 1px solid #ff0000;
  outline: none;
  color: #ff0000;
  padding-left: 10px;
  border-radius: 10px;
}
